
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>KD's Page</title> <!-- ここは各自の好きなように！ -->
</head>
<body>

 
<form action="/blogs" method="post">
    <div>
      <label for="title">タイトル: </label>
      <input type="text" name="title">
    </div>
    <div>
      <label for="content">本文: </label>
      <textarea name="content" cols=100 rows=30></textarea>
    </div>

    <input type="submit" value="投稿">
  </form>

</body>
</html>