
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>KD's Page</title> <!-- ここは各自の好きなように！ -->
</head>
  <body>
      <h1><%= @title %></h1>
      <p><%= @content %></p>

<% if @img_name %>
    <img src="/images/<%= @img_name %>" alt="">
<% end %>


  </body>
</html>