
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>KD's Page</title> <!-- ここは各自の好きなように！ -->
</head>
  <body>
     
  <form action="/signin" method="post">
    <div>
      <label for="name">名前: </label>
      <input type="text" name="name">
    </div>

    <input type="submit" value="ログイン">
  </form>

  </body>
</html>